<div class="w-full">
  <h1 class="text-3xl font-bold mb-4">Visual Symptom Tracker</h1>

  <%= render "chart/index" %>

  <div class="flex gap-8">
    <%= render "problems/index" %>
    
  </div>
</div>
