<div class="w-full flex flex-col gap-8">
  <h1 class="text-3xl font-bold mb-4">Visual Symptom Tracker</h1>
  
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= line_chart [["2025-01-01T00:00:00", 2], ["2025-01-01T12:00:00", 4], ["2025-01-02T00:00:00", 3]] %>

  <div class="flex gap-8">
    <%= render "problems/index" %>

    <%= render "observations/index" %>
  </div>
</div>
